description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <title>{{ this.page.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{{'assets/css/bootstrap.css'|theme }}" rel="stylesheet" media="screen">

        <link href="{{'assets/css/style.less'|theme }}" type="text/css" rel="stylesheet/less"/>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous">
        </script>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
        </script>

        <script src="{{'assets/js/bootstrap.min.js'|theme }}" type="text/javascript"></script>

        <script src="{{'assets/js/less.js'|theme }}" type="text/javascript"></script>

        <script src="{{'assets/js/js.js'|theme }}" type="text/javascript"></script>

        
    </head>
    <body>

        {% partial 'header' %}

        <div class="container-fuild body">
            {% page %}
        </div>
        
        {% partial 'footer' %}

        {% framework extras %}
        {% scripts %}

    </body>
</html>