title = "Segnora"
url = "/"
layout = "default"
==
<!DOCTYPE html>
<!-- Тело -->
<div class="container gl">
    <div id="carousel1" class="carousel slide" data-ride="carousel" data-interval="4000">
        <ol class="carousel-indicators">
            <li data-target="#carousel1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel1" data-slide-to="1" ></li> 
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{'assets/images/слайд.jpg'|theme}}" >
                <div class="carousel-caption">
                    <h3>Новая коллекция летней одежды 2019</h3>
                    <p><a href="assets/padge/magazin.html">Подробнее</a></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{'assets/images/салйд-2.jpg'|theme}}" >
                <div class="carousel-caption">
                    <h3>Новая коллекция летней одежды 2019</h3>
                    <p><a href="assets/padge/magazin.html">Подробнее</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-p20">
        <!--new -->
        <div class="row">
            <!-- Картинка с надписью new -->
            <div class=" card col-sm-12 col-md-12 col-lg-4 col-xl-3 w-100 new mt-3">
                <div class="card-body">
                    <div class="text">
                        <h5 class="card-title">Новые поступления</h5>
                        <p class="card-text">Посмотрите наши новые товары</p>
                        <H5 class="card-text">
                            <a href="#">Смотреть все</a>
                        </H5>
                    </div>
                </div>
            </div>
            <!-- Тело с 6 новыми товарами  -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-9 new-foto mt-3">
                <a class="carousel-control-prev"  id="carusel2-prev" >
                    <div class="t-prew">
                    </div>
                </a>
                <div class="d-flex overflow-auto" id="scroll2">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                        <div class="card-deck">
                            <div class="card">
                                <div class="bg-card"></div>
                                <div class="div-img">
                                    <img src="{{'assets/images/Безымянный.png'|theme}}" class="card-img-top img">
                                </div>
                                <div class="card-body w-100 p-0 text-center">
                                    <h5 class="card-title m-0">1234р</h5>
                                    <p class="card-text">Юбка полосатая</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                        <div class="card-deck">
                            <div class="card">
                                <div class="bg-card"></div>
                                <div class="div-img">
                                    <img src="{{'assets/images/реклама1.jpg'|theme}}" class="card-img-top img">
                                </div>
                                <div class="card-body w-100 p-0 text-center">
                                    <h5 class="card-title m-0">1234р</h5>
                                    <p class="card-text">Юбка полосатая</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                        <div class="card-deck">
                            <div class="card">
                                <div class="bg-card"></div>
                                <div class="div-img">
                                    <img src="{{'assets/images/Безымянный.png'|theme}}" class="card-img-top img">
                                </div>
                                <div class="card-body w-100 p-0 text-center">
                                    <h5 class="card-title m-0">1234р</h5>
                                    <p class="card-text">Юбка полосатая</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                        <div class="card-deck">
                            <div class="card">
                                <div class="bg-card"></div>
                                <div class="div-img">
                                    <img src="{{'assets/images/Безымянный.png'|theme}}" class="card-img-top img">
                                </div>
                                <div class="card-body w-100 p-0 text-center">
                                    <h5 class="card-title m-0">1234р</h5>
                                    <p class="card-text">Юбка полосатая</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-next "  id="carusel2-next" >
                    <div class="t-next">
                    </div>
                </a>
            </div>
        </div>
        <!--sale-->
        <div class="row">
            <!-- Картинка с надписью sale -->
            <div class=" card col-sm-12 col-md-12 col-lg-4 col-xl-3 w-100 sale mt-3">
                <div class="card-body">
                    <div class="text">
                        <h5 class="card-title">Новые поступления</h5>
                        <p class="card-text">Посмотрите наши новые товары</p>
                        <H5 class="card-text">
                            <a href="#">Смотреть все</a>
                        </H5>
                    </div>
                </div>
            </div>
            <!-- Тело с 6 новыми скидками  -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-9 new-foto mt-3">
                    <a class="carousel-control-prev"  id="carusel3-prev" >
                        <div class="t-prew">
                        </div>
                    </a>
                    <div class="d-flex overflow-auto" id="scroll3">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                        <div class="card-deck">
                            <div class="card">
                                <div class="bg-card"></div>
                                <div class="div-img">
                                    <img src="{{'assets/images/Безымянный.png'|theme}}" class="card-img-top img">
                                </div>
                                <div class="card-body w-100 p-0 text-center">
                                    <h5 class="card-title m-0">1234р</h5>
                                    <p class="card-text">Юбка полосатая</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                        <div class="card-deck">
                            <div class="card">
                                <div class="bg-card"></div>
                                <div class="div-img">
                                    <img src="{{'assets/images/Безымянный.png'|theme}}" class="card-img-top img">
                                </div>
                                <div class="card-body w-100 p-0 text-center">
                                    <h5 class="card-title m-0">1234р</h5>
                                    <p class="card-text">Юбка полосатая</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                        <div class="card-deck">
                            <div class="card">
                                <div class="bg-card"></div>
                                <div class="div-img">
                                    <img src="{{'assets/images/Безымянный.png'|theme}}" class="card-img-top img">
                                </div>
                                <div class="card-body w-100 p-0 text-center">
                                    <h5 class="card-title m-0">1234р</h5>
                                    <p class="card-text">Юбка полосатая</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                        <div class="card-deck">
                            <div class="card">
                                <div class="bg-card"></div>
                                <div class="div-img">
                                    <img src="{{'assets/images/Безымянный.png'|theme}}" class="card-img-top img">
                                </div>
                                <div class="card-body w-100 p-0 text-center">
                                    <h5 class="card-title m-0">1234р</h5>
                                    <p class="card-text">Юбка полосатая</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-next "  id="carusel3-next" >
                    <div class="t-next">
                    </div>
                </a>
            </div>
        </div>
        <!-- news -->
        <div class="row">
            <!-- Картинка с надписью news -->
            <div class=" card col-sm-12 col-md-12 col-lg-4 col-xl-3 w-100 news mt-3">
                <div class="card-body">
                    <div class="text">
                        <h5 class="card-title">Новые поступления</h5>
                        <p class="card-text">Посмотрите наши новые товары</p>
                        <H5 class="card-text">
                            <a href="#">Смотреть все</a>
                        </H5>
                    </div>
                </div>
            </div>
            <!-- Тело с 6 новыми новостями  -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-9 new-foto mt-3">
                    <a class="carousel-control-prev"  id="carusel4-prev" >
                        <div class="t-prew">
                        </div>
                    </a>
                    <div class="d-flex overflow-auto" id="scroll4">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                        <div class="card-deck news-color">
                            <div class="card">
                                <div class="card-body  w-100 p-0 text-center">
                                    <h5 class="card-title m-0">Какое платье сейчас в тренде летом 2019</h5>
                                </div>
                                <div class="div-img">
                                    <p>
                                        Летом хочется быть ярким, носить красивую обувь при этом
                                        , что бы она была максимально удобной, ведь когда как не
                                        летом гулять...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                        <div class="card-deck news-color">
                            <div class="card ">
                                <div class="card-body  w-100 p-0 text-center">
                                    <h5 class="card-title m-0">Какое платье сейчас в тренде летом 2019</h5>
                                </div>
                                <div class="div-img">
                                    <p>
                                        Летом хочется быть ярким, носить красивую обувь при этом
                                        , что бы она была максимально удобной, ведь когда как не
                                        летом гулять...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                        <div class="card-deck news-color">
                            <div class="card ">
                                <div class="card-body  w-100 p-0 text-center">
                                    <h5 class="card-title m-0">Какое платье сейчас в тренде летом 2019</h5>
                                </div>
                                <div class="div-img">
                                    <p>
                                        Летом хочется быть ярким, носить красивую обувь при этом
                                        , что бы она была максимально удобной, ведь когда как не
                                        летом гулять...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
                        <div class="card-deck news-color">
                            <div class="card ">
                                <div class="card-body  w-100 p-0 text-center">
                                    <h5 class="card-title m-0">Какое платье сейчас в тренде летом 2019</h5>
                                </div>
                                <div class="div-img">
                                    <p>
                                        Летом хочется быть ярким, носить красивую обувь при этом
                                        , что бы она была максимально удобной, ведь когда как не
                                        летом гулять...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-next "  id="carusel4-next" >
                    <div class="t-next">
                    </div>
                </a>
            </div>
        </div>
    </div>        
</div>
