title = "magazin"
url = "/magazin"
layout = "default"
==
<!-- Тело магазина -->
<div class="container-fuild body">
    <div class="container">
        <div class="container-p20">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 top-body">
                    <!-- боковое меню -->
                    <div class="left-menu">
                        <ul>
                            <li>       
                                <a href="#" data-toggle="collapse" data-target="#left-menu1">Тип одежды</a>
                                <div class="collapse" id="left-menu1">                 
                                    <ul class="ul-li">                                  
                                        <li><a href="#">Юбка</a></li>
                                        <li><a href="#">Платье</a></li>
                                        <li><a href="#">Штаны</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>       
                                <a href="#" data-toggle="collapse" data-target="#left-menu2">Размер</a>
                                <div class="collapse" id="left-menu2">                 
                                    <ul class="ul-li">                                  
                                        <li><a href="#">42</a></li>
                                        <li><a href="#">44</a></li>
                                        <li><a href="#">46</a></li>
                                        <li><a href="#">48</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>       
                                <a href="#" data-toggle="collapse" data-target="#left-menu3">Страна производителя</a>
                                <div class="collapse" id="left-menu3">                 
                                    <ul class="ul-li">                                  
                                        <li><a href="#">Россия</a></li>
                                        <li><a href="#">Турция</a></li>
                                        <li><a href="#">Италия</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- карусель offset-3 -->
                    <div class="row crausel-left-menu">
                            <div class="col-12 p-0">
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="4000">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="1" ></li> 
                                        <li data-target="#carouselExampleIndicators" data-slide-to="2" ></li>
                                    </ol>
                                    <div class="carouselbg text-center" id="bg"></div>
                                    <div class="carousel-inner h-100 text-center" >
                                        <div class="carousel-item h-100 active">
                                            <img src="{{'assets/images/реклама.jpg'|theme}}">
                                        </div>
                                        <div class="carousel-item h-100">
                                            <img src="{{'assets/images/Безымянный.png'|theme}}" >
                                        </div>      
                                        <div class="carousel-item h-100">
                                                <img src="{{'assets/images/реклама1.jpg'|theme}}" >
                                            </div>                
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <!-- тело с галлереей -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 p-0">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4 foto">
                            <div class="card-deck">
                                {% set Assets='assets/images/'|theme %}
                                    {% content "card.htm" Assetsimage=Assets %}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4 foto">
                            <div class="card-deck">
                                <div class="card">
                                    <div class="bg-card"></div>
                                    <div class="div-img">
                                        <img src="{{'assets/images/реклама1.jpg'|theme}}" class="card-img-top img">
                                    </div>
                                    <div class="card-body w-100 p-0 text-center">
                                        <h5 class="card-title m-0">1234р</h5>
                                        <p class="card-text">Юбка полосатая</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4 foto">
                            <div class="card-deck">
                                <div class="card ">
                                    <div class="bg-card"></div>
                                    <div class="div-img">
                                        <img src="{{'assets/images/фон1.JPG'|theme}}" class="card-img-top img">
                                    </div>
                                    <div class="card-body w-100 p-0 text-center">
                                        <h5 class="card-title m-0">1234р</h5>
                                        <p class="card-text">Юбка полосатая</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4 foto">
                            <div class="card-deck">
                                <div class="card ">
                                    <div class="bg-card"></div>
                                    <div class="div-img">
                                        <img src="{{'assets/images/Безымянный.png'|theme}}" class="card-img-top img">
                                    </div>
                                    <div class="card-body w-100 p-0 text-center">
                                        <h5 class="card-title m-0">1234р</h5>
                                        <p class="card-text">Юбка полосатая</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4 foto">
                            <div class="card-deck">
                                <div class="card">
                                    <div class="bg-card"></div>
                                    <div class="div-img">
                                        <img src="{{'assets/images/Безымянный.png'|theme}}" class="card-img-top img">
                                    </div>
                                    <div class="card-body w-100 p-0 text-center">
                                        <h5 class="card-title m-0">1234р</h5>
                                        <p class="card-text">Юбка полосатая</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4 foto">
                            <div class="card-deck">
                                <div class="card">
                                    <div class="bg-card"></div>
                                    <div class="div-img">
                                        <img src="{{'assets/images/Безымянный.png'|theme}}" class="card-img-top img">
                                    </div>
                                    <div class="card-body w-100 p-0 text-center">
                                        <h5 class="card-title m-0">1234р</h5>
                                        <p class="card-text">Юбка полосатая</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4 foto">
                            <div class="card-deck">
                                <div class="card">
                                    <div class="bg-card"></div>
                                    <div class="div-img">
                                        <img src="{{'assets/images/Безымянный.png'|theme}}" class="card-img-top">
                                    </div>
                                    <div class="card-body w-100 p-0 text-center">
                                        <h5 class="card-title m-0">1234р</h5>
                                        <p class="card-text">Юбка полосатая</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4 foto">
                            <div class="card-deck">
                                <div class="card">
                                    <div class="bg-card"></div>
                                    <div class="div-img">
                                        <img src="{{'assets/images/Безымянный.png'|theme}}" class="card-img-top">
                                    </div>
                                    <div class="card-body w-100 p-0 text-center">
                                        <h5 class="card-title m-0">1234р</h5>
                                        <p class="card-text">Юбка полосатая</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4 foto">
                            <div class="card-deck">
                                <div class="card">
                                    <div class="bg-card"></div>
                                    <div class="div-img">
                                        <img src="{{'assets/images/Безымянный.png'|theme}}" class="card-img-top">
                                    </div>
                                    <div class="card-body w-100 p-0 text-center">
                                        <h5 class="card-title m-0">1234р</h5>
                                        <p class="card-text">Юбка полосатая</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>