<div class="header sticky-top">
    <div class="container-fuild">
        <div class="container">
            <div class="navbar navbar-expand-md">
                <div class="row w-100">
                    <div class=" container col-12">
                        <div class="row">
                            <div class="col-md-4 collapse navbar-collapse">
                                <div class="text-left w-100">
                                    <a href="#">8-916-711-37-16</a>
                                </div>
                            </div>
                            <div class="col-6 col-md-4">
                                <div class="text-left text-md-center w-100">
                                        <img class="logo" src="{{'assets/images/logo.png'|theme}}">
                                </div>
                            </div>
                            <div class="col-md-4 collapse navbar-collapse">
                                <div class="text-right w-100">
                                    <a href="#">Корзина</a>
                                </div>
                            </div>
                            <div class="col-6 text-right">
                                <button class="navbar-toggler navbar-light btn" type="button"
                                data-toggle="collapse" data-target="#navbarNav">
                                    <span class="navbar-toggler-icon"></span>
                                </button> 
                            </div>
                        </div>
                    </div>
                    <div class="container col-12 col-md-12">
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="navbar-item">
                                    <a href="{{'home'|page}}" class="nav-link">Главная</a>
                                </li>
                                <li class="navbar-item">
                                    <a href="{{'magazin'|page}}" class="nav-link">Магазин</a>
                                </li>   
                                <li class="navbar-item">
                                    <a href="#" class="nav-link">О нас</a>
                                </li>   
                                <li class="navbar-item">
                                    <a href="#contact" class="nav-link">Контакты</a>
                                </li> 
                                <li class="navbar-item">
                                    <a href="#" class="nav-link">Новости</a>
                                </li>   
                                <li class="navbar-item d-md-none">
                                    <a href="#" class="nav-link"  data-toggle="collapse-show" data-target="#navbarNav">
                                        Корзина
                                    </a>
                                </li>     
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>  