.center
{
    display: flex;
    justify-content: center;
    align-items: center;
}


body
{
    .row
    {
        margin: 0 0 0 0;
    }
    font-size: 1em;
    .container
    {
        padding: 0;
        max-width: 1800px;
    }
    .container-p20
    {
        padding: 20px;
    }
    .logo
    {
        width: 100px;
        height: 50px;
    }
    ::-webkit-scrollbar{ width: 22px;} /* 1 - вертикальный скроллбар */
    ::-webkit-scrollbar:horizontal{ height: 5px;} /* 1 - горизонтальный скроллбар */
    ::-webkit-scrollbar-button {background: rgb(252, 158, 158);} /* 2 - кнопка */
    ::-webkit-scrollbar-track {background: #f12451;}/* 3 - трек */
    ::-webkit-scrollbar-track-piece { background: rgb(252, 158, 158);} /* 4 – видимая часть трека */ 
    ::-webkit-scrollbar-thumb {background: #f12451; border-radius: 10px;} /* 5 - ползунок */
}
.header
{
    
    .top-head
    {
        padding:20px 20px 0 20px;
        .top-head-content
        {
            padding: 0;
        }
    }
    .navbar
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    background-color: black;
    .btn
    {
        background-color: gainsboro;
    }
    a
    {
        color:white;  
        text-decoration: none;
    }   
    a:hover
    {
        color:greenyellow;
    } 
}
.body
{
    .padge-news
    {
        border: 1px solid;
        padding: 20px;
        margin: 25px 0;
    }
    background-color: rgb(245, 234, 234);
    //padding: 20px;
    .div-img
    {
        color:white;
        z-index: 0;
        margin: 10px;
        height: 300px;
        //по центру
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .new
    {
        //border-radius: 0;
        // height: auto;
        // background-color: black;
        // background-size: contain;
        background-image:url(../images/new.png);
    }
    .sale
    {
        // height: auto;
        // background-color: black;
        // background-size: contain;
        background-image:url(../images/sale.png);
    }
    .news
    {
        // height: auto;
        // background-color:black ;
        // background-size: contain;
        background-image:url(../images/news.png);
        //margin-top: 1rem !important;
    }
    .new-foto
    {
        .carousel-control-prev, .carousel-control-next
        {
            width: 30px;
            .t-prew 
            {
                border-top: 20px solid transparent;
                border-right: 20px solid black;
                border-bottom: 20px solid transparent;
            }
            .t-next 
            {
                border-top: 20px solid transparent;
                border-left: 20px solid black;
                border-bottom: 20px solid transparent;
            }
        }
    }
    .sale, .new, .news
    {
        height: auto;
        background-color: black;
        background-size: contain;
        .card-body
        {
            text-align: center;
            color:white;
            background-color: transparent;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .text
        {
            padding: 20px;
            background-color: black;
        }
    }
    .card
    {
        //background-color: black;
        border: 0;
        //background-color: transparent;
        overflow: hidden;
        .card-img-top
        {
            width: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
    .news-color
    {
        background-color:rgb(29, 29, 29) ;
        .card
        {
            background-color:rgb(29, 29, 29) ;
            margin-top: 1rem !important;
            .card-body
            {
            color:white;
            background-color: rgb(29, 29, 29);
            }
        }
        
        
    }
    .card-deck
    {
        margin: 0;
    }
    .bg-card
    {
        position: absolute;
        z-index: 0;
        
        opacity:0.9;
        //position: absolute;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: cover;
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        filter: blur(10px);
        
    }
    .card-body
    {
        z-index: 0;
        background-color: white;
    }
    .top-body
    {
        padding: 0 0 20px 0;
    }
    .left-menu
    {
        background-color: black;
        padding: 20px;
        a
        {
            color:white;
            text-decoration: none;
        }   
        a:hover
        {
            color:greenyellow;
        } 
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            
        } 
        .ul-li
        {
            li{
            padding-left: 20px;
            }
        }
    }
    .crausel-left-menu
    {
        padding-top: 20px;
    }
    .foto
    {
        //padding: 0 0 15px 15px;
        padding-bottom: 15px;
    }
}

.carousel
{
    overflow: hidden;
    //margin-top: 30px;
    padding: 20px 0 20px 0;
    height: 400px;
    .carouselbg
    {     
        position: absolute;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: cover;
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        filter: blur(10px);
    }
    .carousel-inner
    {
        img
        {
            //padding: 20px;
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}.gl
{
    .carousel
    {
        padding: 0;
        height: auto;
        
        .carousel-inner
        {
            height: 400px;
            .carousel-item
            {
                height: 100%;
            }
            img
            {
                //padding: 20px;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .carousel-caption
            {
                display: flex;
                flex-direction: column;
                text-align: left;
                padding: 0 30px 0 30px;
                position: absolute;
                bottom: 20%;
                p
                {
                    padding: 40px 0 0 0;
                }
                a
                {
                    color: white;
                    text-decoration: none;
                    border: 1px;
                    border-radius: 50px 50px 50px 50px;
                    padding: 15px 40px 15px 40px;
                    background-color: rgb(29, 29, 29)
                }

                right: auto;
                left: auto;
                z-index: 10;
            }
        }
    }
}
.footer
{
    // .colonka
    // {
        
    //     text-align: center;
    //     padding:20px;
    //     .name-colonka
    //     {
    //         padding-bottom: 20px;
    //     }
    // }
    background-color: black;
    color:white;
    p
    {
        margin: 0;
        padding: 0;
    }
    a
    {
        color:white;
        text-decoration: none;
        margin: 0;
        padding: 0;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }    
    // .link-img
    // {
    //     img{
    //         width:30px;
    //         height: 30px;
    //     }
    // }


    .subs
    {   
        border: 1px solid #d3d3d3;
        border-radius: 50px 50px 50px 50px;
            
        input[type="text"]
        {
            outline:none;
            width: 100%;
            border: 0;
            border-radius: 50px 0 0 50px; 
            padding: 5px 20px 5px 20px;
            background: black;
            color: white;
        }
        input[type="button"]
        {
            background-color: white;
            border: 0;
            border-radius: 50px 50px 50px 50px; 
            padding: 5px 20px 5px 20px;
        }
        
    }
    .soc-seti
    {
        padding: 20px;
        border-top: 2px solid rgb(29, 29, 29);
    }
    .author
    {
        color: rgb(39, 39, 39);
    }
}
@media (min-width: 1200px) {
    .flex-start {
      justify-content: flex-start;
    }
}